[![Abrir en Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/m-durand/propedeutico_python/blob/main/notebooks/1_introduccion_a_python.ipynb)

# Propedéutico a programación con Python.

**Verano 2024, por el Centro de Ciencia de Datos, EGobiernoyTP.**

En este curso, aprenderemos los comandos básicos de Python que nos permitirán hacer análisis de datos, especialmente para datos más o menos grandes.

### Sesión 1: Introducción a Python

1.  ¿Qué es y cómo funciona Python?
2.  ¿Qué es un notebook?
3.  Variables
4.  Operadores
    - Tipos de operadores
5.  Comentarios
    - Comentario de una sola línea
    - Comentario multilinea
6.  Tipo de datos
    - Boolean
    - Númericos
    - Strings
    - Formatting
7. Tipos de estructuras de datos
    - Listas
    - Tuplas
    - Sets
    - Diccionarios

## 1. ¿Qué es y cómo funciona Python?

Python es un lenguaje de programación muy versátil, que se utiliza para una gran variedad de tareas que van desde el análisis de datos hasta el desarrollo de páginas web y software. Para nosotros, será una gran herramienta para trabajar con datos, desde limpiarlos o visualizar relaciones interesantes, hasta crear modelos avanzados e incluso llevarlos a la implementación.

Python es de código abierto, lo cual significa que se encuentra en constante desarrollo por una comunidad enorme de científicos y voluntarios. Además, significa que es relativamente fácil encontrar respuestas a dudas o documentación de cualquier función en internet.

## 2. ¿Qué es un notebook?

Los notebooks son un tipo de archivo que nos permite ejecutar código de Python (principalmente). Están compuestos de celdas. En términos generales, existen dos tipos de celdas: las de texto (como esta, en la que nos encontramos) y las de código (como la siguiente). En los notebooks, las celdas de texto nos ayudan a mantener una historia, explicar e interpretar las tablas y gráficas que resulten del análisis, y en general mantener una estructura amigable para compartir nuestro trabajo con otras personas.

Existe otro tipo de archivos comúnmente utilizado para código de python: aquellos terminados en `.py`, que solamente contienen código ejecutable. Este formato es el más amigable para la computadora, que no necesita las interpretaciones sino solamente las instrucciones.

Algunos de ustedes podrían ejecutar Python en sus computadoras; sin embargo, para asegurar que mientras aprenden los básicos de programación nadie se encuentra con _bugs_ inesperados, incompatibilidades de software, etc., para este curso, utilizaremos [**Google Colab**](https://colab.research.google.com/).

Google Colab es una plataforma que permite correr Python en servidores de Google. Para poder trabajar sobre ellos, es decir, "correr el código", es necesario presionar el botón "Open in Colab" que se encuentra al principio de cada uno. Esto abrirá una nueva ventana con una copia del notebook que es solamente para ustedes, que podrán editar con su propio trabajo. Para poder guardarla, deben hacerlo de manera explícita en Google Drive: por medio del menú Archivo->Guardar una copia en Drive.

In [ ]:
print("¡Hola, mundo!")

## 3. Variables

En Python, una variable es guardar en memoria la asignación de un nombre a algún valor.

In [ ]:
a = 5

In [ ]:
a

In [ ]:
print(a)

In [ ]:
b = 10

In [ ]:
b

In [ ]:
c = 'Hola'

In [ ]:
c

In [ ]:
d = c

In [ ]:
d

##### Ejercicio 1:

Declara tres diferentes variables que tengan los valores de 29, 17 y 30, para los nombres `x`, `y` y `z`, respectivamente.

In [ ]:
# Respuesta

## 4. Operadores

Los operadores son un conjunto de símbolos que se utilizan para definir una tarea computacional entre variables

### 4.1 Operaciones aritméticas

In [ ]:
# Suma
a + b

In [ ]:
# Resta
b - a

In [ ]:
# Multiplicación
a * b

In [ ]:
# División
b / a

In [ ]:
# Exponente
a**b

In [ ]:
# Módulo
a%b

##### Ejercicio 2:

Con las variables que declaraste en el ejercicio 1, realiza las operaciones necesarias para obtener 493, 1.76 y 59.

In [ ]:
# Respuesta

### 4.2 Operadores de asignación

In [ ]:
# Asignación del valor derecho a la expresión en el operando izquierdo (asignacion de variables)
d = 2

In [ ]:
d

In [ ]:
# Agrega y asigna operando izquierdo
d += a

In [ ]:
d

In [ ]:
a

In [ ]:
# Substrae y asigna operando izquierdo
d -= a

In [ ]:
d

##### Ejercicio 3

Asigna y agrega una variable `w` que de como resultado 33, utilizando `z`.

In [ ]:
# Respuesta

### 4.3 Operadores de comparación

In [ ]:
1 <= 2

In [ ]:
1 < 2

In [ ]:
1 >= 2

In [ ]:
1 > 2

In [ ]:
1 != 1

In [ ]:
1 != 2

In [ ]:
1 == 1

### 4.4 Otros operadores:

In [ ]:
# Identity operators: Para comparar objetos en memoria.
x = 6; y = 4
print(x is y)
print(x is not y)

In [ ]:
print(
    '''
    Logical operators
    -----------------
    - and
    - or
    - not

    '''
)

In [ ]:
print(
    '''
    Membership operators
    ----------
    - in
    - not in
    '''
)

## 5. Comentarios

Comentarios son parte del código que se ignora a la hora de compilar. Se usa principalmente para explicar el código.

In [ ]:
# Esto es un comentario de una línea

In [ ]:
## Comentario de otra línea también

In [ ]:
'''Comentario de una línea'''

In [ ]:
# Comentario
## de
### múltiples
#### líneas

In [ ]:
'''
Comentario
de
múltiples
líneas
'''

## 6. Tipos de dato

Esto explica el tipo de valor que tiene una variable.

Son básicamente 6:

1. Boolean:
    - True or False
2. Númericos:
    - Int, float, complex
3. String
4. Formatting

### 6.1 Boolean:

Los resultados son Verdadero o Falso, ya lo vimos estos con los operadores de comparación.

Para revisar el tipo de dato, usa `type()`.

In [ ]:
booleano = 6 > 7

booleano

In [ ]:
type(booleano)

### 6.2 Números

Enteros, flotantes y números complejos.

In [ ]:
a = 10
print('Tipo de dato a:', type(a), '; valor:',a)

b = 4.5
print('Tipo de dato b:', type(b), '; valor:',b)

c = 1+6j
print('Tipo de dato b:', type(c), '; valor:',c)

###  6.3 Strings

Secuencia de caracteres, se coloca entre `""` o `''`.

In [ ]:
a = 'Hola'

In [ ]:
type(a)

### 6.4 Formatting

Para unir strings con el valores numéricos, **string interpolation**.

In [ ]:
planeta = 'Jupiter'
lunas = 79

mensaje = 'El planeta {}, tiene {} lunas'.format(planeta, lunas)

print(mensaje)

##### Ejercicio 4

Escribe dos mensajes diferentes:
- Que diga tu nombre y tu edad.
- Que diga el número de vaquitas marinas que existen en el mundo y donde viven.

In [ ]:
# Respuesta

## 7. Tipo de estructura de datos

1. Listas
2. Tuplas
3. Conjunto (set)
4. Diccionario
    - keys and values

### 7.1 Listas

Las listas son una secuencia de elementos ordenados. No es necesario que sean del mismo tipo; es decir, puede mezclar númericos, booleanos, texto, etc. Se definen con el uso de `[ ]`.

In [ ]:
mi_lista = [98, 'David', 8.6, 100]

In [ ]:
type(mi_lista)

In [ ]:
# para objener la posición 0 de la lista
mi_lista[0]

In [ ]:
# Posición 1
mi_lista[1]

In [ ]:
# Posición -1, va en el sentido contrario
mi_lista[-1]

In [ ]:
mi_lista[-3]

Se dice que las listas son **mutables**, por lo que puedes modificarlas, eliminar o agregar elementos.

In [ ]:
lista_a = [1,2,3,4,5]

In [ ]:
lista_b = [6,7,8,9,10]

In [ ]:
# Extender lista
lista_a.extend(lista_b)

In [ ]:
lista_a

In [ ]:
# Agregar lista
lista_b.append(lista_a)

In [ ]:
lista_b
# observa que se agrega como un elemento la lista_a,
# a diferencia de extend donde cada elemento se agrega de manera individual

In [ ]:
lista_a.append(11)
# También puedes agregar elemento por elemento con append

In [ ]:
lista_a

### 7.2 Tuplas

Una tupla es similar a la lista en el sentido de que son valoress ordenados, pero la diferencia es que las tuplas son **inmutables**, por lo que NO puedes cambiar sus elementos.  

Dependiento del contexto, las tuplas pueden ser de gran ayuda en lugar de listas. Primero, porque son más rápidas operacionalmente que las listas, y segundo porque son más seguras pues no se puede modificar una vez declarada.

Éstas se definen con `( )`.

In [ ]:
mi_tupla = (99, 'Andrea', 7.6, 99)

In [ ]:
type(mi_tupla)

In [ ]:
mi_tupla

In [ ]:
# Segundo elemento de la tupla
mi_tupla[1]

In [ ]:
# número de elementos en tupla
len(mi_tupla)

##### Ejercicio 5

En la siguiente celda, intenta usar los métodos `extend` o `append` en un par de tuplas. ¿Qué pasa?

### 7.3 Conjunto (set)

Es una secuencia de objetivos no ordenados, es menos famoso pero muy útil para diversas cosas. No tiene ningún valor repetido, a diferencia de las listas y las tuplas. En los conjuntos puedes realizar operaciones como unión, intersección. Para definir un conjunto utilizamos `{ }`

In [ ]:
mi_set = {9,10,11,11}

In [ ]:
mi_set

In [ ]:
type(mi_set)

In [ ]:
grupo1 = {"Alicia", "Pedro", "Juan", "Diana", "Eva"}
grupo2 = {"Pedro", "Diana", "Luis", "Ana", "Alejandra"}
grupo3 = {"Juan", "Eva", "Luis", "Ana", "Isaac"}

##### Ejercicio 6

En la siguiente celda, intenta obtener el primer elemento del set `grupo1`. ¿Qué pasa?

<img src="https://i.pinimg.com/originals/92/74/49/927449ed2c05f7cabe41d12d0db4c0ac.png" alt="set" width="400"/>

_Fuente: Analytics Vidhya_

In [ ]:
# Intersección:
miembros_comunes = grupo1.intersection(grupo2, grupo3)
print("Estudiantes que están los tres grupos:", miembros_comunes)

In [ ]:
# Intersección:
miembros_comunes = grupo1.intersection(grupo2)
print("Estudiantes que están en grupo1 y grupo2:", miembros_comunes)

In [ ]:
# Unión:
todos = grupo1.union(grupo2, grupo3)
print("Estudiantes únicos en todos los grupos:", todos)

In [ ]:
# Diferencia:
exclusivos_g1 = grupo1.difference(grupo2, grupo3)
print("Estudiantes que están en el grupo1 pero no en 2 y 3:", exclusivos_g1)

###  6.6 Diccionario

Es una colección NO ordenada de pares de valores-llaves. Los diccionarios se utilizan principalmente para almacenar grandes cantidades de datos. Para definirlos utilizamos `{key: value}`

In [ ]:
dictt1 = {'num' : 'd01', 'nombre' : 'Pablo', 'edad': 26}

dictt2 = {
          'num' : ['d01','d02'],
          'name' : ['Pablo', 'Karla'],
          'batch' : [26,27]
           }

print(type(dictt1))
print(dictt1)
print(dictt2.keys())   ### Prints all the keys in a list
print(dictt2.values()) ### Prints all the values

##### Ejercicio 7.

1. Haz una **lista** de tuplas, donde cada elemento de la tupla contenga la siguiente información:

    - Ale, 20
    - Pedro, 22
    - Luis, 19
    - Diana, 21
    - Eva, 20
    
2. Muestra el solo el nombre del tercer estudiante de la lista.
3. Muestra cuántos estudiantes son en la lista, el nombre y la edad del segundo (utiliza format).
4. Agrega el estudiante Juan, 25
5. Muestra el último estudiante de la lista.
6. Muestra si el 4to estudiante tiene más de 22 años

In [ ]:
# Respuesta